@font-face {
  font-family: "Onest Medium";
  src: url(/fonts/OnestMedium1602-hint.ttf) format("ttf");
  font-family: "Onest Light";
  src: url(/fonts/OnestLight1602-hint.ttf) format("ttf");
  font-family: "Onest Regular";
  src: url(/fonts/OnestRegular1602-hint.ttf) format("ttf");
}
.modal-input-block .modalbtn, .btn-col button {
  color: white;
  border: none;
  font-family: "Onest Medium";
  font-weight: 700;
  background: #136ef6;
  border-radius: 5px;
}

body {
  width: 1440px;
  margin: auto;
}

.banner {
  height: 90px;
  background-image: url(/img/background.svg);
}

.normal-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 16.9px;
  font-family: "Onest Medium";
}

.bold-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  font-family: "Onest Medium";
}

.hook-text {
  color: #136ef6;
}

.left-block .backpack-col img {
  margin-top: 8.77px;
  margin-left: 67px;
}
.left-block .left-text-col {
  margin-top: 15px;
  padding: 0px;
}
.left-block .left-text {
  margin-top: 5px;
}
.left-block .arrows1-col {
  padding: 0;
}
.left-block .arrows1-col img {
  margin-top: 23.94px;
  padding-left: 7px;
}

.right-text-col {
  margin-top: 16px;
  margin-left: 34.11px;
  padding-right: 0px;
}
.right-text-col .right-text {
  margin-bottom: 2px;
}

.arrows2-col {
  padding-left: 12px;
}
.arrows2-col img {
  margin-top: 43px;
}

.btn-col {
  margin-left: 14px;
  padding: 0px;
}
.btn-col button {
  font-size: 14px;
  width: 160px;
  height: 29px;
  margin-top: 31px;
}

.computer-icon {
  padding-right: 0px;
  padding-left: 65px;
}
.computer-icon img {
  margin-top: 36.63px;
  margin-right: 73.97px;
}

.modal-content {
  margin: auto;
  width: 930px;
  height: 440px;
  background-image: url(/img/background-modal.svg);
}

.modal-header {
  border: none;
}

.modal-left-block {
  margin: 0px;
  padding: 0px;
}
.modal-left-block .modal-title {
  font-family: "Onest Medium";
  font-size: 34px;
  font-weight: 700;
  line-height: 44.2px;
  color: #136ef6;
  margin-left: 55px;
  margin-bottom: 15px;
}
.modal-left-block .text-get-gifts {
  font-family: "Onest Medium";
  font-size: 18px;
  font-weight: 500;
  line-height: 23.4px;
  margin-left: 55px;
}
.modal-left-block .icon-col {
  padding: 0px;
  margin-right: 8px;
}
.modal-left-block .icon-revenue {
  margin-left: 60px;
}
.modal-left-block .icon-chat {
  margin-left: 56px;
}
.modal-left-block .icon-notes {
  margin-left: 60px;
}

.gifts-texts {
  font-family: "Onest Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 19.5px;
  margin-bottom: 10px;
}

.modal-point-text {
  font-family: "Onest Medium";
  font-size: 15px;
  font-weight: 500;
  line-height: 19.5px;
}

.asterisk-text {
  font-family: "Onest Light";
  font-size: 12px;
  font-weight: 300;
  line-height: 15.6px;
  margin-top: 5px;
  margin-left: 55px;
}

.modal-input-block {
  margin-top: 18px;
  padding-left: 34px;
  padding-right: 18px;
}
.modal-input-block input {
  height: 50px;
  margin-bottom: 10px;
  border-width: 0.5px;
  border-color: #136ef6;
  border-style: solid;
}
.modal-input-block select {
  width: 257px;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-width: 0.5px;
  border-color: #136ef6;
  border-style: solid;
  background-image: url(/img/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 23px) center;
}
.modal-input-block select option[value=""] {
  color: #9e9e9e;
}
.modal-input-block #default-select-option {
  color: #9e9e9e;
  font-weight: 900;
}
.modal-input-block .modalbtn {
  line-height: 23.4px;
  height: 44px;
  margin-bottom: 7px;
  margin-top: 12px;
}
.modal-input-block .legal-text {
  font-family: "Onest Regular";
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
}
.modal-input-block a {
  color: #212529;
}

#modal-arrow {
  margin-top: 200px;
}/*# sourceMappingURL=style.css.map */