/* General styles */

@font-face {
  font-family: Onest Regular;
  src: url(/fonts/OnestRegular1602-hint.ttf);
}

body {
  width: 1440px;
  margin: auto;
}
#banner {
  height: 90px;
  background-image: url(/img/background.svg);
}

/* Column styles */

.col-1 {
  padding: 0;
}

.btn-col {
  margin-left: 14px;
  padding: 0px;
}

#arrows2-col {
  padding-left: 12px;
}

.computer-icon-col {
  padding-right: 0px;
  padding-left: 65px;
}

/* Text styles */

.left-text-col {
  margin-top: 15px;
  padding: 0px;
}

.right-text-col {
  margin-top: 16px;
  margin-left: 34.11px;
  padding-left: 27px;
  padding-right: 0px;
}

.normal-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 16.9px;
  font-family: "Onest Regular";
}

.bold-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  font-family: "Onest Regular";
}

.hook-text {
  color: #136ef6;
}

.left-text {
  margin-top: 5px;
}

.right-text {
  margin-bottom: 2px;
}

.asterisk-text {
  font-family: "Onest Regular";
  font-size: 12px;
  font-weight: 300;
  line-height: 15.6px;
}

.legal-text {
  font-family: "Onest Regular";
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
}
/* Images styles */

.backpack {
  margin-top: 8.77px;
  margin-left: 67px;
}

.arrows-1 {
  margin-top: 23.94px;
  padding-left: 7px;
}

.arrows-2 {
  margin-top: 43px;
}

.computer {
  margin-top: 36.63px;
  margin-right: 73.97px;
}

/* Button styles */

button,
#modalbtn {
  color: white;
  border: none;
  font-family: "Onest Regular";
  font-weight: 700;
  background: #136ef6;
  border-radius: 5px;
}

.btn-sm {
  font-size: 14px;
  width: 160px;
  height: 29px;
  margin-top: 31px;
}

#modalbtn {
  height: 44px;
}

/* Modal */
.modal-content {
  margin-top: 50px;
  width: 930px;
  height: 440px;
  background-image: url(/img/background-modal.svg);
}
